<!-- Introduction -->
<section class="intro">
  <h1 class="section__title section__title--intro">
      This is <strong>FamBox</strong>
  </h1>
  <p class="section__subtitle section__subtitle--intro">Designed with WebRTC, Socket.io, and Nest.js</p>
  <!-- <img src="img/Me.jpg" alt="a picture of Joseph Alba" class="intro__img"> -->
</section>
<section class="example">
  <h1 class="section__title section__title--intro">
    An easy way to video chat with your friends and family
  </h1>
</section>
