/* Intro Section */

.intro {
  position: relative;
  top: 2em;
  margin: 2em;
  text-align: center;
}

.section__title, .section__title--intro {
  text-align: center;
}

.section__subtitle--intro {
  display: inline-block;
  text-align: center;
  position: relative;
  width: auto;
}

.section__example {
  background-color: var(--clr-accent);

}

.section__example img {
  margin: 2em;
  width: 400px;
  height: 400px;
  box-shadow: var(--bs);
}
